.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container h2 {
  color: azure;
}

.movie {
  width: 250px;
  margin: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.movie img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}
body {
  background-image: url("https://img.freepik.com/premium-photo/netflix-logo-abstract-geometry-background_41204-25086.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  text-align: center;
}

header {
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  font-size: 24px;
  color: azure;
  text-decoration: underline;
  padding: 10px;
}

.top nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top nav button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

.top nav a {
  text-decoration: none;
  color: #ff4500;
  font-weight: bold;
  transition: color 0.3s ease;
}

.top nav a:hover {
  color: #fff;
}

footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
